<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/defalt.css">
    <meta name="viewport" content="width=device-width">
    <script>
        (function (d) {
            var config = {
                kitId: 'jpv6fkl',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/%27+config.kitId+%27.js%27;tk.async=true;tk.onload=tk.onreadystatechange=function()%7Ba=this.readyState;if(f%7C%7Ca&&a!=%22complete%22&&a!=%22loaded%22)return;f=true;clearTimeout(t);try%7BTypekit.load(config)%7Dcatch(e)%7B%7D%7D;s.parentNode.insertBefore(tk,s)'
        })(document);
    </script>
    <script>
        function locationreload() {
            location.reload();

        }
    </script>
</head>
<div class="wrapper">
    <header style="padding-top: 40px; padding-bottom: 10px;">
        <ul class="topnav">

            <% if(info==null){ %>

                <li class=" right"><a class="text" href="/login">로그인</a></li>
                <li><a class="text" href="/register">회원가입</a></li>
                <% }else{ %>
                    <li class=" right"><a href="/myPage" class="text">My Page </a></li>
                    <li><a class="text">로그인된 계정: <%= info.name %></a></li>
                    <li><a class="text" href="/logout">로그아웃</a></li>

                    <% } %>

                        <li class="left">
                            <h2 href="/">
                                <div href="'/">
                                    <a href="/"><img class="logo-image" src="../img/school_logo_1.png"
                                            alt="호치민시한국국제학교 로고"></a>
                                </div>
                            </h2>
                        </li>
                        <li class="left" style="padding-left: 50px;  padding-top:20px;">
                            <div class="vl_inBox fl" style="height: 40px;"> </div>
                        </li>
                        <li class="left"
                            style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
                            <p>학생청원 2022</p>
                        </li>
        </ul>
    </header>

    <body style="margin: 0px;">
        <div class=" mx-auto text-center oh" id='banner'>
            <div>
                <img src="../img/mainBanner.png" id="banner-img">
            </div>
        </div>

        <div class="middle">
            <p class="bold title f38" style="margin-top: 5%; padding-top: 100px; ">
                학생청원 절차
            </p>
            <div class="flex-container" id="eee">
                <div class="box fst-box">
                    <img src="../img/BAM-Free_Illustration_kit-V1.0/Computer.png"
                        style="width:280px; margin-bottom: 14px;" ;id="">

                    <p class="f31">
                        1. 로그인하여 청원 등록하기
                    </p>
                    <p class="f20" style="color: #707070; text-align: left">
                        본교에 재학중인 학생은 누구나 로그인 후 청원 게시판 글을 등록할 수 있습니다.
                    </p>
                </div>
                <div class="box fst-box">
                    <img src="../img/BAM-Free_Illustration_kit-V1.0/Message.png" style="width:294px; " ;id="">
                    <p class="f31 ">
                        2. 청원글 전달
                    </p>
                    <p class="f20" style="color: #707070; text-align: left">
                        청원 글 게시 후 14일 이내에 본교 재학중인 학생들에게 200명 이상의 동의를 얻은 청원 게시글은 학생회에 전달됩니다.
                    </p>
                </div>
                <div class="box fst-box">
                    <img src="../img/BAM-Free_Illustration_kit-V1.0/Warning.png"
                        style=" width:311px; transform: rotate(32deg);" ;id="">
                    <p class="f31">
                        3. 청원글 답변
                    </p>
                    <p class="f20" style="color: #707070; text-align: left">
                        답변이 완료된 청원은 학교 언론 보도를 통해 전교생에게 전달됩니다.
                    </p>
                </div>
                <div class="box fst-box">
                    <img src="../img/BAM-Free_Illustration_kit-V1.0/Calendar.png"
                        style=" width:250px; margin-bottom: 44px;" ;id="">

                    <p class="f31">
                        4. 학생회 추가회의 진행
                    </p>
                    <p class="f20" style="color: #707070; text-align: left">
                        학생회 추가회의를 통해 대응 방향을 결정합니다.
                    </p>
                </div>
            </div>
        </div>
        <p class="bold title f38" style="margin-top: 100px;margin-bottom: 3px;">
            안내 및 주의사항
        </p>
        <p class="title" style="color:#c4c4c4;font-size: 18px;margin-top: 0px;">
            사이트 이용 전 필독하여 주십시오.
        </p>
        <div class="discript jcun os">
            <div class="box_NoB f30 mar30">
                <p style="padding-top:40px; font-size: 30px;">숨김 처리 및 삭제 사유 </p>
                <div class="fl tl dis">

                    <p class="red inline">명예훼손, 비속어 표현, 불건전한 내용, 취지에 맞지 않는 내용</p>
                    <p class="inline"> 등을 담은 게시물은 권리자에 의해 숨김처리 또는 삭제될 수 있습니다. </p>

                </div>
            </div>
            <div class="box_NoB fl f30 mar30">
                <p style="padding-top:40px; font-size: 30px;">중복과 도배 방지 정책</p>
                <div class="fl tl dis">
                    <p class="inline">동일 이용자에 의해 동일한 내용으로 중복 게시된 청원은 </p>
                    <p class="inline">최초 1개만 남기고 숨은처리 또는 삭제될 수 있습니다. </p>
                </div>
            </div>
            <div class="box_NoB fl f30 mar30">
                <p style="padding-top:40px; font-size: 30px;"> 익명성 보장 </p>
                <div class="fl tl dis">
                    <p class="inline"> 본 사이트는 청원 글 게시와 동의에 대해 학생들의 익명성을 보장합니다. </p>
                </div>
            </div>
        </div>
        <div class="mx-auto text-center">
            <a href="/write"><button href="" class=btn style="margin-top: 100px;"> 학생 청원 글 게시하기</button></a>
        </div>
        <div class="sub-title">
            <div class="vl"></div>
            <div class="sub-title-text"> <a> 답변된 청원</a> </div>
        </div>
        <div class=scnd-main>

            <div class="pad_t_b_15 flex-container os jcun">
                <% for(var i=0 ;i < replied.length; i++){ %>
                    <li class="scnd_box fst">
                        <%- replied[i].청원제목%>
                            <hr id="line" style="width: 54%;">
                            </hr>
                            <div>
                                <ul class="table_content" style="margin-top: 8px;">
                                    <li class="fl w70 f8 text_right">작성자</li>
                                    <li class="fl w70 f8 text_left">
                                        <%- replied[i].author%>
                                    </li>
                                </ul>
                                <ul class="table_content" style="margin-bottom: 16px;">
                                    <li class=" fl w70  f8 text_right">참여인원</li>
                                    <li class=" fl w70 f8 text_left">
                                        <%- replied[i].liked%>
                                    </li>
                                </ul>
                            </div>
                            <div class="see-rply-btn" href="/detail/<% replied[i]._id%>">
                                답변보기
                            </div>
                    </li>
                    <% if(i==2) { %>
                        <% break %>
                            <%}%>
                                <% } %>


                                    </li>
                                    <li style="list-style:none;"> <a href="/answered"><img id="to-see-all"
                                                src="../img/see-all.png"></a>
                                    </li>
            </div>
        </div>
        <div class="sub-title">
            <div class="vl"></div>
            <div class="sub-title-text"> <a> 최다 추천 청원</a> </div>

        </div>


        <div class="check os">
            <% for(var i=0 ;i < sortedPosts.length; i++){ %>
                <li class="thd_box mx-auto fst">
                    <div class="box_NoB">
                        <div>
                            참여인원
                        </div>
                        <div>
                            <p class="f60 m10" style="color: #2962FF;">
                                <%= sortedPosts[i].liked %>명
                            </p>
                        </div>
                        <div>
                            <ul class="table_content fon-707070" style="margin-top: 27px;">
                                <li class="fl w70 f8 text_right">작성자</li>
                                <li class="fl w70 f8 text_left">
                                    <%= sortedPosts[i].author %>
                                </li>
                            </ul>
                            <ul class="table_content fon-707070" style="margin-bottom: 16px;">
                                <li class=" fl w70  f8 text_right">청원기간</li>
                                <li class=" fl w70 f8 text_left">
                                    <%= sortedPosts[i].청원시작 %>~<%= sortedPosts[i].청원마감 %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vl_inBox fl"> </div>
                    <div class="box_NoB fl" style="width: 347px;">
                        <h2>
                            <%= sortedPosts[i].청원제목 %>
                        </h2>
                        <hr id="line" style="width: 30%;">
                        </hr>
                        <P class="f8">
                            <%= sortedPosts[i].청원내용 %>
                        </P>

                        <div class="text_right" href="#" style="margin-top: 40px; width:385px;">
                            <a id="to-see-spe">자세히 보기 </a>
                            <div class="fr"> <a href="/detail/<%= sortedPosts[i]._id %>"><img
                                        src="./img/right-pointer.png" class="w50 pointer"></a>
                            </div>
                        </div>
                    </div>
                </li>

                <% if(i==2) { %>
                    <% break %>
                        <%}%>
                            <% } %>
        </div>

        <div class="sub-title">
            <div class="vl"></div>
            <div class="sub-title-text"> <a> 답변 대기 중인 청원 </a> </div>
        </div>
        <div class="jcun">
            <div class="frth-main mx-auto">
                <div class="petition_waiting">
                    <ul class="board">
                        <li class="pad_t_b_1 fl tc w70 title b_line">번호</li>
                        <li class="pad_t_b_1 fl tc w120 title b_line">진행상태</li>
                        <li class="pad_t_b_1 fl tc w500 title b_line">제목</li>
                        <li class="pad_t_b_1 fl tc w100 title b_line">청원기간</li>
                        <li class="pad_t_b_1 fl tc w100 title b_line">참여인원</li>
                    </ul>
                    <!--- 리스트 --->



                    <% for(var i=0 ;i < findWaiting.length; i++){ %>
                        <ul class="board">
                            <li class="pad_t_b_15 fl tc w70 list lt_line">
                                <%= i+1 %>
                            </li>
                            <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                            <li class="pad_t_b_15 fl tc w500 list lt_line">
                                <a href="/detail/<%= posts[i]._id %>">
                                    <%= findWaiting[i].청원제목%>
                                </a>
                            </li>

                            <li class="pad_t_b_15 fl tc w100 list lt_line">
                                <%= findWaiting[i].청원시작%>~<%= findWaiting[i].청원마감%>
                            </li>
                            <li class="pad_t_b_15 fl tc w100 list  lt_line blue">
                                <%= findWaiting[i].liked%>
                            </li>
                        </ul>
                        <% if(i==5) { %>
                            <% break %>
                                <%}%>
                                    <% } %>
                </div>
                <div class="l">
                    <!-- <a class="" href="#" id=""><img class='w30' src="./img/left-arrow.png"></a> -->
                    <a class="pge" href="/waiting" id="next2" style="background-color: #2962FF;">더보기</a>
                    <!-- <a class="" href="#" id=""><img class='w30' src="./img/right-arrow.png"></a> -->
                </div>
            </div>
        </div>
        <div class="sub-title">
            <div class="vl"></div>
            <div class="sub-title-text"> <a> 청원 목록 </a> </div>
        </div>
        <div class="">
            <div class="frth-main mx-auto">
                <div class="petition_waiting">
                    <ul class="board">
                        <li class="pad_t_b_1 fl tc w70 title b_line">번호</li>
                        <li class="pad_t_b_1 fl tc w120 title b_line">진행상태</li>
                        <li class="pad_t_b_1 fl tc w500 title b_line">제목</li>
                        <li class="pad_t_b_1 fl tc w100 title b_line">청원기간</li>
                        <li class="pad_t_b_1 fl tc w100 title b_line">참여인원</li>
                    </ul>
                    <!--- 리스트 --->

                    <% for(var i=posts.length -1 ;i>= 0; i--){ %>


                        <ul class="board">
                            <li class="pad_t_b_15 fl tc w70 list lt_line">
                                <%= posts.length - i %>
                            </li>
                            <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                            <li class="pad_t_b_15 fl tc w500 list lt_line">
                                <a href="/detail/<%= posts[i]._id %>">
                                    <%= posts[i].청원제목%>
                                </a>
                            </li>

                            <li class="pad_t_b_15 fl tc w100 list lt_line">
                                <%= posts[i].청원시작%>~<%= posts[i].청원마감%>
                            </li>
                            <li class="pad_t_b_15 fl tc w100 list  lt_line blue">
                                <%= posts[i].liked%>
                            </li>
                        </ul>
                        <% if(posts.length - 5==i) { %>
                            <% break %>
                                <%}%>

                                    <% } %>

                </div>

                <div class="l" style="margin-bottom: 180px; margin-top: 50px;">

                    <a class="pge" href="/petitionlist/1" id="next2" style="background-color: #2962FF;">더보기</a>

                </div>

            </div>
        </div>
</div>
</body>
</div>
</div>
<footer>
    <div class=" f17 tr" style="margin: 15px 30px 15px 15px; text-align: center;">
        <div style="text-align:center">
            <p class="fl bold" style="margin-right:30px; margin-top:55px;  margin-left: 28%;">청원 시스템 제작 TF팀 </p>
            <!-- <p class="fc4c4c4 fl" style="margin-right:30px;">이서현 이상효 장준혁 곽범준 </p>
        <p class="fc4c4c4 fl" style="margin-right:30px;"> 차세연 최지철 </p> -->
            <p class="fl a" style="margin-top:55px;">이서현</p>
            <p class="fl a" style="margin-top:55px;">이상효</p>
            <p class="fl a" style="margin-top:55px;">장준혁</p>
            <p class="fl a" style="margin-top:55px;">곽범준</p>
            <p class="fl a" style="margin-top:55px;">차세연</p>
            <p class="fl a" style="margin-top:55px;">김민재</p>
            <p class="fl a" style="margin-top:55px;">최지철</p>


        </div>
    </div>
</footer>

</html>